body{
    margin:0;
   font-family:Verdana, Geneva, Tahoma, sans-serif
}

/*Hero Section */

.hero{
    background-image:url("https://i.ibb.co/TPLDF0W/Huc-Q-ultra-wide-angle-shot-photorealistic-night-cyberpunk-city-198bcf98-a9c0-4375-9cdd-70a10b3e12fa.png");
    height:100vh;
}



/*Navbar*/

.navbar{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding: 5px 20px;
    background-color:darkorange
}

.logo{
    display:flex;
    align-items:center;
    color:#222222;
    font-weight:bolder;
    gap: 10px;
}

.logo img{
    width:60px;
    height:60px;
    border-radius:20%;
}

.logo a{
    color:#222222;
    text-decoration:none;
    font-size:40px;
    margin: 0
}

.links{
    display:flex;
    gap:20px;
    font-size:26px;
}

.links a{
      text-decoration:none;
   color:#222222;
   font-weight:bold;
}



/*Hero-content*/

